<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nboisvert.bitbucket</string>
	<key>connections</key>
	<dict>
		<key>0A305F9D-3EE6-487D-8776-4227EBCB1DA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A64E1BCA-566A-468A-955A-EE111DD6AF1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C97C2AF-0EDC-4E8D-A820-7A5F1EAE18F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAFE8EEA-44DF-4A4A-9F82-68243B9E8142</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>126C6FC6-E062-43AF-B464-1B2509EA7364</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF028DC0-A659-4BA7-92B7-CBABE1B25562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26AF339D-0379-4D70-9D1B-0B1EF7F7BCA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>126C6FC6-E062-43AF-B464-1B2509EA7364</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>416BD16C-0A6B-44D4-AEE0-9B7B46D0EA82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26AF339D-0379-4D70-9D1B-0B1EF7F7BCA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF0B250A-65D8-4241-933C-B1D04878427F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FE98086-2111-4206-82A4-9B609AFA6447</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42B4F477-0B9C-43A3-BCE1-5084761F1967</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A7C3E4F-228C-4EAF-AB5C-64D8039859A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open repository page</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5466EDF2-55B7-4D7F-9D03-C294F67908A1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Bookmark or remove bookmark for this repository</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A057C677-28C2-4919-8FEB-3CB849A25459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4F0CEB7F-54A6-40A3-952B-0D46650466A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42B4F477-0B9C-43A3-BCE1-5084761F1967</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5466EDF2-55B7-4D7F-9D03-C294F67908A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A057C677-28C2-4919-8FEB-3CB849A25459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57896452-F041-4489-AC65-89445A3201D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF3DEBD1-6337-4368-9B89-091A204B2406</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D0EA676-202B-43E9-8659-435AFDEDF031</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F0CEB7F-54A6-40A3-952B-0D46650466A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68A09335-C86E-4A15-B391-3CCE3642FD26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A305F9D-3EE6-487D-8776-4227EBCB1DA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FE98086-2111-4206-82A4-9B609AFA6447</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE688831-1C47-4C79-9182-A60D9DDB00C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90F65DE9-DB67-4B5C-9BED-90E4B3BECB43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68A09335-C86E-4A15-B391-3CCE3642FD26</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>416BD16C-0A6B-44D4-AEE0-9B7B46D0EA82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>A057C677-28C2-4919-8FEB-3CB849A25459</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90F65DE9-DB67-4B5C-9BED-90E4B3BECB43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAFE8EEA-44DF-4A4A-9F82-68243B9E8142</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F0CEB7F-54A6-40A3-952B-0D46650466A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B54C9E86-EC28-4D29-AC4B-BB4DA8D16D09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF028DC0-A659-4BA7-92B7-CBABE1B25562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE688831-1C47-4C79-9182-A60D9DDB00C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF028DC0-A659-4BA7-92B7-CBABE1B25562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCC2EA7D-8EA3-449D-8425-8F7CB0CC4F13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57896452-F041-4489-AC65-89445A3201D7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open team/user page</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C97C2AF-0EDC-4E8D-A820-7A5F1EAE18F1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Save team/user as default</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D0EA676-202B-43E9-8659-435AFDEDF031</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2776B59-0EDE-4673-9A0A-13A28A40258D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>EF0B250A-65D8-4241-933C-B1D04878427F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B54C9E86-EC28-4D29-AC4B-BB4DA8D16D09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2776B59-0EDE-4673-9A0A-13A28A40258D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F433418C-885E-4464-ADF4-BC54BD88160F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F433418C-885E-4464-ADF4-BC54BD88160F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A7C3E4F-228C-4EAF-AB5C-64D8039859A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open repository page</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5466EDF2-55B7-4D7F-9D03-C294F67908A1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Remove bookmark for this repository</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A057C677-28C2-4919-8FEB-3CB849A25459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nicolas Boisvert</string>
	<key>description</key>
	<string>Workflow to get through your and your teams public / private repositories using OAuth2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BitBucket</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bitbucket.org/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EF3DEBD1-6337-4368-9B89-091A204B2406</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bit</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for {query}</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node teams.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show team/user repositories</string>
				<key>title</key>
				<string>Repository lookup</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DCC2EA7D-8EA3-449D-8425-8F7CB0CC4F13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>57896452-F041-4489-AC65-89445A3201D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node saveUsername.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AAFE8EEA-44DF-4A4A-9F82-68243B9E8142</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0C97C2AF-0EDC-4E8D-A820-7A5F1EAE18F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5D0EA676-202B-43E9-8659-435AFDEDF031</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>marks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for {query}</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node bookmarks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search into your bookmarked repositories</string>
				<key>title</key>
				<string>Bookmarked repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F433418C-885E-4464-ADF4-BC54BD88160F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>team</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4F0CEB7F-54A6-40A3-952B-0D46650466A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F2776B59-0EDE-4673-9A0A-13A28A40258D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bitbucket.org/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7A7C3E4F-228C-4EAF-AB5C-64D8039859A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking up for repositories</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node repos.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Display repo's PR's, issues and forks</string>
				<key>title</key>
				<string>Repository lookup</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>42B4F477-0B9C-43A3-BCE1-5084761F1967</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Pull requests","arg":"pull-requests","subtitle":"Show pull requests"},{"title":"Issues","arg":"issues","subtitle":"Show issues"},{"title":"Forks","arg":"forks","subtitle":"Show forks"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Action</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>90F65DE9-DB67-4B5C-9BED-90E4B3BECB43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bitbucket.org/{var:repo}/{var:action}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A64E1BCA-566A-468A-955A-EE111DD6AF1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node toggleBookmark.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5466EDF2-55B7-4D7F-9D03-C294F67908A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A057C677-28C2-4919-8FEB-3CB849A25459</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A305F9D-3EE6-487D-8776-4227EBCB1DA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>forks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>68A09335-C86E-4A15-B391-3CCE3642FD26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for pull requests in {var:repo}</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node pr.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Repository lookup</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>126C6FC6-E062-43AF-B464-1B2509EA7364</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:spec}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>pull-requests</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>26AF339D-0379-4D70-9D1B-0B1EF7F7BCA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>issues</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for issues in {var:repo}</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node issues.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Look for issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B54C9E86-EC28-4D29-AC4B-BB4DA8D16D09</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CF028DC0-A659-4BA7-92B7-CBABE1B25562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:spec}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>issues</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EF0B250A-65D8-4241-933C-B1D04878427F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>spec</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>416BD16C-0A6B-44D4-AEE0-9B7B46D0EA82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>forks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for forks in {var:repo}</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node forks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Look for forks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE688831-1C47-4C79-9182-A60D9DDB00C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:spec}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>forks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7FE98086-2111-4206-82A4-9B609AFA6447</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A305F9D-3EE6-487D-8776-4227EBCB1DA7</key>
		<dict>
			<key>note</key>
			<string>Set variable</string>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>0C97C2AF-0EDC-4E8D-A820-7A5F1EAE18F1</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>126C6FC6-E062-43AF-B464-1B2509EA7364</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>26AF339D-0379-4D70-9D1B-0B1EF7F7BCA8</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>416BD16C-0A6B-44D4-AEE0-9B7B46D0EA82</key>
		<dict>
			<key>note</key>
			<string>Action selected</string>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>42B4F477-0B9C-43A3-BCE1-5084761F1967</key>
		<dict>
			<key>note</key>
			<string>Repo selection</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>4F0CEB7F-54A6-40A3-952B-0D46650466A6</key>
		<dict>
			<key>note</key>
			<string>Team selected</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>5466EDF2-55B7-4D7F-9D03-C294F67908A1</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>57896452-F041-4489-AC65-89445A3201D7</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5D0EA676-202B-43E9-8659-435AFDEDF031</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>68A09335-C86E-4A15-B391-3CCE3642FD26</key>
		<dict>
			<key>note</key>
			<string>If !forks</string>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>7A7C3E4F-228C-4EAF-AB5C-64D8039859A4</key>
		<dict>
			<key>note</key>
			<string>Open repo page on cmd+enter</string>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>7FE98086-2111-4206-82A4-9B609AFA6447</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>90F65DE9-DB67-4B5C-9BED-90E4B3BECB43</key>
		<dict>
			<key>note</key>
			<string>Action selection</string>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>A057C677-28C2-4919-8FEB-3CB849A25459</key>
		<dict>
			<key>note</key>
			<string>Repo selected</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>A64E1BCA-566A-468A-955A-EE111DD6AF1F</key>
		<dict>
			<key>note</key>
			<string>Open action page on cmd+enter</string>
			<key>xpos</key>
			<integer>1300</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>AAFE8EEA-44DF-4A4A-9F82-68243B9E8142</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>B54C9E86-EC28-4D29-AC4B-BB4DA8D16D09</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>CE688831-1C47-4C79-9182-A60D9DDB00C9</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>CF028DC0-A659-4BA7-92B7-CBABE1B25562</key>
		<dict>
			<key>note</key>
			<string>Open specific spec on cmd+enter</string>
			<key>xpos</key>
			<integer>1430</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>DCC2EA7D-8EA3-449D-8425-8F7CB0CC4F13</key>
		<dict>
			<key>note</key>
			<string>Team selection</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EF0B250A-65D8-4241-933C-B1D04878427F</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>EF3DEBD1-6337-4368-9B89-091A204B2406</key>
		<dict>
			<key>note</key>
			<string>Open team page on cmd+enter</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F2776B59-0EDE-4673-9A0A-13A28A40258D</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F433418C-885E-4464-ADF4-BC54BD88160F</key>
		<dict>
			<key>note</key>
			<string>Team selection</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>clientId</key>
		<string></string>
		<key>secret</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>clientId</string>
		<string>secret</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>nboisvert.com</string>
</dict>
</plist>
